{% extends 'base.html' %}


{% block content %}
<main class="container py-5" >
    <section class="card card-body">
        <h1 class="display-1 text-center">Seguimiento de Documentacion</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam unde aliquid, numquam nobis modi, odio sed rem dolorem aliquam laboriosam aut quia. Alias sint ipsam quisquam voluptatibus eveniet praesentium consequuntur culpa aliquid maxime esse optio, odio ullam illum aperiam quaerat vero commodi ipsa beatae, necessitatibus ab fugit vitae molestias obcaecati. Consequatur, omnis. Tenetur qui saepe neque porro aut minus, assumenda pariatur odit maxime, ratione facere iusto praesentium explicabo impedit eveniet velit quia voluptas cum. Doloremque architecto nihil maxime. Vero, odit possimus? Nostrum quas ducimus officia aliquam dolore perspiciatis autem vel expedita tenetur mollitia excepturi, magni beatae sit libero accusamus temporibus?</p>
        <div class="text-center">
            <a class=" btn btn-primary" href="registrarse/">
                Registrarse
            </a>
                
            <a class=" btn btn-primary" href="iniciar_sesion/">
                Iniciar Sesion
            </a>
        </div>
        
    </section>
</main>
{% endblock %}
