{% extends 'base.html' %}

{% block content %}
<div class="container mt-4"></div>
    <h1>Contratos Empresas de Mantenimiento</h1>
    <a href="{% url 'mantenimiento:contrato_create' comunidad_id=comunidad.id %}" class="btn btn-primary mb-3">Nuevo Contrato</a>
    {% if contratos %}
    <table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>Instalación</th>
            <th>Empresa</th>
            <th>Contrato</th>
            <th>Contacto</th>
            <th>Teléfono</th>
            <th>Valor Servicio</th>
            <th>Periodo</th>
            <th>Fecha Inicio</th>
            <th>Fecha Término</th>
        </tr>
    </thead>
    <tbody>    
        {% for contrato in contratos %}
        <tr>
            <td>{{ contrato.instalacion }}</td>
            <td>{{ contrato.empresa }}</td>
            <td>{{ contrato.contrato }}</td>
            <td>{{ contrato.contacto }}</td>
            <td>{{ contrato.telefono }}</td>
            <td>{{ contrato.valor_servicio }}</td>
            <td>{{ contrato.periodo }}</td>
            <td>{{ contrato.fecha_inicio|date:"d/m/Y" }}</td>
            <td>{{ contrato.fecha_termino|date:"d/m/Y" }}</td>
        </tr>
        {% endfor %}
    </tbody>
    </table>
    {% else %}
    <p>No hay contratos registrados.</p>
    {% endif %}
</div>
{% endblock %}