{% extends 'base.html' %}

{% block content %}
<div class="container mt-4"></div>
    <h1>Cotizaciones de Proveedores</h1>
    <a href="{% url 'mantenimiento:cotizacion_create' comunidad_id=comunidad.id %}" class="btn btn-primary mb-3">Nueva Cotización</a>

    {% if cotizaciones %}
    <table class="table table-bordered table-striped">
      <thead>
        <tr>
            <th>Proveedor</th>
            <th>Servicio</th>
            <th>Monto</th>
            <th>Fecha</th>
        </tr>
    </thead>
    <tbody>
        {% for cotizacion in cotizaciones %}
        <tr>
            <td>{{ cotizacion.proveedor }}</td>
            <td>{{ cotizacion.servicio }}</td>
            <td>{{ cotizacion.monto }}</td>
            <td>{{ cotizacion.fecha|date:"d/m/Y" }}</td>
        </tr>
        {% endfor %}
    </tbody>
    </table>
    {% else %}
    <p>No hay cotizaciones de proveedores registradas.</p>
    {% endif %}
</div>
{% endblock %}