{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
    <div class="col-md-6">
    <div class="card py-5">
        <div class="card-body">
    <h1 class="card-title mb-4">Crear Seguimiento</h1>

            {% if error %}
            <p style="color: red;">{{ error }}</p>
            {% endif %}

            <form action="{% url 'seguimientodocumentos:crear_seguimiento' comunidad_id=comunidad_id%}" method="POST">

                {% csrf_token %}
                {{ form.as_p }}

                <button  type="submit" class="btn btn-primary "
                title="Guardar Seguimiento">
                <i class="bi bi-floppy"></i>
                </button>
            </form>
            <script src="{% static 'js/script.js' %}"></script>
        </div>
        </div>
        </div>
            </div>
    </div>
{% endblock %}


