{% extends 'base.html' %}

{% block content %}
<main class="container mt-5">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <h1 class="text-secondary text-center mb-4">{{ seguimiento.documentacion }}</h1>

            <!-- Mensajes de error -->
            {% if error %}
                <div class="alert alert-danger text-center">
                    {{ error }}
                </div>
            {% endif %}

            <!-- Formulario para actualizar -->
            <form action="{% url 'seguimientodocumentos:detalle_seguimiento' seguimiento.id %}" method="POST">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn btn-primary w-100">Actualizar</button>
            </form>

            <!-- Formulario para eliminar -->
            <div class="mt-5 text-center">
                <form action="{% url 'seguimientodocumentos:eliminar_seguimiento' seguimiento.id %}" method="POST" 
                onsubmit="return confirm('¿Estás seguro de que deseas eliminar este seguimiento?');">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-danger">Eliminar</button>
                </form>
            </div>
        </div>
    </div>
</main>
{% endblock %}
