{% extends 'base.html' %}

{% block content %}
        
    <h1 class="mb-4">Biblioteca de Archivos</h1>

    <!-- Botón para subir un archivo -->
    <div class="text-end mt-4" style="padding-bottom:10px">
        <a href="{% url 'biblioteca:subir_archivo' %}" class="btn btn-primary" title="Subir Archivo">
            <i class="bi bi-file-earmark-arrow-up"></i>
        </a>
    </div>
        <!-- Tabla para listar archivos -->
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th scope="col" class="text-center">Tipo</th>
                    <th scope="col" class="text-center">Categoría</th>
                    <th scope="col" class="text-center">Título</th>
                    <th scope="col" class="text-center">Documento</th>
                    <th scope="col" class="text-center">Acciones</th>
                </tr>
            </thead>
            <tbody>
                {% for archivo in archivos %}
                    <tr>
                        <td>{{ archivo.tipo|default:"Sin Tipo" }}</td>
                        <td>{{ archivo.categoria|default:"Sin Categoría" }}</td>
                        <td>{{ archivo.titulo_documento|default:"Sin Título" }}</td>
                        <td class="text-center">
                            <div class="d-flex justify-content-center align-items-center">
                                {% if archivo.documento %}
                                    {% if archivo.tipo in 'pdf,jpg,jpeg,png' %}
                                    <!-- Previsualización -->
                                    <a class="list-group-item" href="{{ archivo.documento.url }}" 
                                    target="_blank" 
                                    title="Ver">
                                    <i class="bi bi-eye"></i>
                                    </a>
                                {% else %}
                                    <!-- Solo opción de descarga -->
                                    <a class="list-group-item" href="{{ archivo.documento.url }}" download title="Descargar">
                                    <i class="bi bi-download"></i>
                                    </a>
                                {% endif %}
                            {% else %}
                                <!-- Mensaje para archivos no asociados -->
                                <span class="text-muted">No disponible</span>
                            {% endif %}
                        </div>
                    </td>
                    <td class="text-center">
                        <div class="d-flex justify-content-center align-items-center">
                            <!-- Botón para eliminar -->
                            <form action="{% url 'biblioteca:eliminar_archivo' archivo.id %}" method="POST"
                            style="display:inline;">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-danger" onclick="return confirm('¿Estás seguro de que deseas eliminar este archivo?');"
                            title="Eliminar">
                            <i class="bi bi-trash-fill"></i>
                            </button>
                        </form>
                    </div>
                </td>
            </tr>
            <!-- Mensaje para listas vacías -->
        {% empty %}
            <tr>
                <td colspan="5" class="text-center">No hay archivos disponibles.</td>
            </tr>
        {% endfor %}
    </tbody>
    </table>
                    
{% endblock %}

